<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizzas List')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container">
    
    <!-- Message da redirectAttributes-->
    
    <div th:if="${message != null}" class="alert alert-success alert-dismissible my-3">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <div class="d-flex align-item-center justify-content-between">
        
        <h1 class="mt-2">Pizza List</h1>
        <form th:action="@{/pizzas}" method="GET" class="my-3">
            <div class="input-group">
                
                <input type="text"
                       placeholder="Search by name"
                       class="form-control" name="search"
                       th:value="${param.search}">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    
    <hr>
    
    <div class="my-3">
        <a th:href="@{/pizzas/create}" class="btn btn-primary">Add new Pizza</a>
    </div>
    
    <div th:if="${pizzaList.size() > 0}">
        <table class="table mt-2">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzaList}" th:object="${pizza}">
                <td th:text="*{name}"></td>
                <td th:text="*{description}"></td>
                <td th:text="|*{price} Є|"></td>
                <td class="d-flex align-content-between align-items-center mx-2">
                    <a th:href="@{/pizzas/show/{id}(id=*{id})}" title="details" class="btn btn-primary mx-1"><i class="fa-solid fa-pizza-slice"></i></a>
                    <a th:href="@{/pizzas/edit/{id}(id=*{id})}" title="edit" class="btn btn-primary mx-1"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form method="POST" th:action="@{/pizzas/delete/{id}(id=*{id})}" title="delete" onsubmit="return confirm('Are you sure?')">
                        <button type="submit" class="btn btn-primary mx-1">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div th:unless="${pizzaList.size() > 0}">
        <h2>There are no pizzas available</h2>
    </div>
</div>
</body>
</html>